.navbar.navbar-default
	.container-fluid
		.navbar-header
			button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#navbar-collapse-1', aria-expanded='false')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/') Blooms Taxonomy
		div.collapse.navbar-collapse#navbar-collapse-1
			ul.nav.navbar-nav.navbar-right
				if (!user)
					li
						a(href='/login') Login
					li
						a(href='/signup') Signup
				else if (user)
					li
						a(href='/') #{user.username}
					li
						a(href='/signout') Logout